<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: page-header"></div>

<div th:replace="fragments :: page-title"></div>

<div class="d-flex justify-content-center">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Brand:
                <select name="brand" class="form-select">
                    <option th:each="brand : ${brands}"
                            th:value="${brand.id}"
                            th:text="${brand.name}"
                    ></option>
                </select>
            </label>
            <div class="small">Don't see a brand? Add it <a href="add/addBrand">here</a></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Flavor:
                <input type="text" th:field="${drink.flavor}" class="form-control">
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label">Carbonation:
                <select th:field="*{drink.carbonation}" class="form-select">
                    <option th:value="Heavy"
                            th:text="Heavy"></option>
                    <option th:value="Medium"
                            th:text="Medium"></option>
                    <option th:value="Light"
                            th:text="Light"></option>
                </select>
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label">Rating:
                <select th:field="*{drink.rating}" class="form-select">
                    <option th:value="5"
                            th:text="5"></option>
                    <option th:value="4"
                            th:text="4"></option>
                    <option th:value="3"
                            th:text="3"></option>
                    <option th:value="2"
                            th:text="2"></option>
                    <option th:value="1"
                            th:text="1"></option>
                </select>
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label">Star Rating:
                <select th:field="*{drink.rating}" class="form-select">
                    <option th:value="5"
                            th:text="5"></option>
                    <option th:value="4"
                            th:text="4"></option>
                    <option th:value="3"
                            th:text="3"></option>
                    <option th:value="2"
                            th:text="2"></option>
                    <option th:value="1"
                            th:text="1"></option>
                </select>
            </label>
        </div>
        <div class="mb-3">
            <input type="submit" value="add seltz" class="btn btn-primary">
        </div>
    </form>
</div>

</body>
</html>
