<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: page-header"></div>

<div th:replace="fragments :: page-title"></div>

<div class="container p-4 w-50">

    <p class="text-justify text-center">
        Welcome home to fizzybubbly, your safe space for all things seltzer. We encourage you to
        browse around for your favorites, learn about new flavors and brands, and add your comments. If you
        want to become a member, that's totally cool too. Get ready to refresh and relax with some
        fizzybubbly!
    </p>
    <p class="text-justify text-center">
        Here at fizzybubbly we believe in equal representation of all non-alcoholic seltzers. We hope you
        find this site entertaining and insightful (but mostly fun!). Please feel free to express yourself
        responsibly and leave a review for your favorite or not so favorite seltzer. Shine on and dare to be
        different with fizzybubbly!
    </p>

</div>

</body>
</html>