<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: page-header"></div>

<div th:replace="fragments :: page-title"></div>

<div>
    <form method="post">
        <div class="form-group">
            <label>Brand:
                <select th:field="${drink.brand}" class="form-control">
                    <option th:each="brand : ${brands}"
                            th:value="${brand.id}"
                            th:text="${brand.name}"
                    ></option>
                </select>
            </label>
        </div>
    </form>
</div>

</body>
</html>