<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h5 th:text="${'Carbonation: ' + drink.carbonation}"></h5>
    <h5 th:text="${'Rating: ' + drink.rating + '/5'}"></h5>

    <img th:src="@{${drink.imagePath}}" width="120"/>


    <h5 th:text="${'Reviews: ' + drink.reviews}"></h5>
    <p>Hey friend! Here at fizzybubbly we value your opinion. Please feel free to let everyone here
        hear you. Please remember this website is seen by folks of all ages, from the very young at heart
        to the very old at heart. Comment and enjoy responsibly here at fizzybubbly!
    </p>

</div>

<div class="d-flex justify-content-center">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Add Review:
                <input type="text" class="form-control">
            </label>
        </div>
        <div class="mb-3">
            <input type="submit" value="add review" class="btn btn-primary">
        </div>
    </form>
</div>

</body>
</html>