<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="alert alert-success alert-dismissible text-center" role="alert" th:text="${hello}" th:if="${hello}"></div>

<div class="container text-center p-3 pb-3 mt-3">
    <h2>welcome to fizzybubbly</h2>
    <h6>a site for seltzers and seltzer reviews</h6>

</div>

<div class="container body-content text-center p-3">
    <div class="mb-4"><h4 class="text-center display-6" style="font-style: italic">looking for something new to try?</h4></div>
    <div class="row align-items-center">
        <div class="col">
            <img class="img-fluid rounded mx-auto d-block" th:src="@{images/bubbles.jpg}"/>
        </div>
        <div class="col">
            <img class="img-fluid rounded mx-auto d-block" th:src="@{${drink.imagePath}}"/>
        </div>
        <div class="col">
            <a class="h5" th:href="@{/drink/{id} (id=${drink.id})}"
               th:text="${drink.brand + ' ' + drink.flavor}" style="text-decoration: none">
            </a>
            <h6 th:text="${'Carbonation: ' + drink.carbonation}"></h6>
            <h6>Rating: <span class="stars-outer">
                    <span class="stars-inner" th:style="|--rating: ${avgRating}|"></span>
                </span></h6>
        </div>
        <div class="col">
            <img class="img-fluid rounded mx-auto d-block" th:src="@{images/bubbles.jpg}"/>
        </div>
    </div>
</div>

<div class="container text-center p-3" style="max-width: 50%">
    <h5>check out our latest seltzer review here:</h5>
    <p>
        <span th:text="${review.user.getUsername}" style="font-weight: bold"></span> on
        <a th:href="@{/drink/{id} (id=${review.id})}" th:text="${review.drink}" style="text-decoration: none"></a> <br>"<span style="font-style: italic" th:text="${review.reviewText}"></span>"
    </p>
</div>

</body>
</html>