<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: page-header"></div>


<div class="container text-center p-4 pb-1 mt-3">
    <h2>welcome to fizzybubbly</h2>
    <h5>a site for seltzers and seltzer reviews</h5>
</div>

<div class="container body-content text-center p-5">
    <img th:src="@{/images/sodacan.png}"/>
</div>

<div class="container">
    <h5 class="text-center">click around at the top to get started</h5>
</div>

</body>
</html>