<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2 class = "centered">find a seltz</h2>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Brand</th>
        <th>Flavor</th>
        <th>Carbonation</th>
        <th>Rating</th>
    </tr>
    </thead>

<!--    /productPage?drinkId=${drink.id}-->
    <tr th:each="drink : ${drinks}">
        <td th:text="${drink.brand}"></td>
        <td th:text="${drink.flavor}"></td>
        <td th:text="${drink.carbonation}"></td>
        <td th:text="${drink.rating}"></td>
    </tr>
</table>

</body>
</html>