<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Drink</th>
            <th scope="col">Rating</th>
            <th scope="col">Reviews</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="drink : ${drinks}">

            <td th:text="${drink.brand + ' ' + drink.flavor}"></td>
            <td th:text="${drink.rating + '/5'}"></td>
            <td th:text="${drink.id}"></td>
            <td><a th:href="@{/productPage(id=${drink.id})}">
                <img th:src="@{/images/sodacan.png}" class="rounded mx-auto d-block"/>
            </a></td>
        </tr>
        </tbody>
    </table>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Seltzy Reviews</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="drink : ${drinks}">
            <td th:text="${drink.rating + '/5'}"></td>
            <td th:text="${drink.id}"></td>
    </table>
</div>

</body>
</html>