<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search:</h2>
        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>
        <input type="submit" value="Search" />
    </form>

    <hr />

    <table>
        <tr>
            <td>
<!--                <p th:text="${'Id: ' + drink.drinkId}"></p> &lt;!&ndash;-(id=${getDrinkId()})-&ndash;&gt;-->
                <p th:text="${'Brand: ' + drink}"></p>
<!--                <p th:text="${'Flavor: ' + drink.flavor}"></p>-->
<!--                <p th:text="${'Carbonation: ' + drink.carbonation}"></p>-->
<!--                <p th:text="${'Rating: ' + drink.rating}"></p>-->
<!--                <a th:href="@{/productPage/details(id=${drinkId})}">-->
                    <img th:src="@{/images/sodacan.png}" class="rounded mx-auto d-block"/>
                </a>

            </td>
        </tr>
    </table>

</div>

</body>
</html>