<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h5 th:text="${'Carbonation: ' + drink.carbonation}"></h5>
    <h5 th:text="${'Rating: ' + drink.rating + '/5'}"></h5>

    <img th:src="@{${drink.imagePath}}" width="120"/>

    <h5 th:text="${'Reviews: ' + drink.userReviews}"></h5>

</div>

</body>
</html>