<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div th:replace="fragments :: page-title"></div>

<div class="container body-content">

    <form th:action="@{/search/results}" method="get">

        <div class="row">

            <div class="col">
                <select class="form-select" aria-label="default select example" id="searchField1" name="searchField1">
                    <option th:each="field1 : ${fieldChoices1}" th:id="${field1.key}" th:value="${field1.key}" th:text="${field1.value}" th:selected="${field1.key == 'all'}">
                    </option>
                </select>
            </div>

            <div class="col">
                <select class="form-select" aria-label="default select example" id="searchField2" name="searchField2">
                    <option th:each="field2 : ${fieldChoices2}" th:id="${field2.key}" th:value="${field2.key}" th:text="${field2.value}" th:selected="${field2.key == 0}">
                    </option>
                </select>
            </div>

            <div class="col">
                <select class="form-select" aria-label="default select example" id="searchField" name="searchField">
                    <option th:each="field : ${fieldChoices}" th:id="${field.key}" th:value="${field.key}" th:text="${field.value}" th:selected="${field.key == 'all'}">
                    </option>
                </select>
            </div>

            <div class="col">
                <div class="input-group">
                    <input type="text" name="searchTerm" id="searchTerm" class="form-control" aria-label="Search" placeholder="Search" aria-describedby="basic-addon1">
                </div>
            </div>

        </div>

        <br>

        <div class="row">

            <div class="col d-flex justify-content-center">
                <button class="btn btn-secondary" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                         viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>

        </div>

    </form>

</div>

    <br>
<div class="container body-content">
    <div th:if="${drinks} and ${searchTerm} != '' and ${searchTerm} != 'all'">
        <span th:text="${drinks.size()}"></span> result<span th:if="${drinks.size() != 1}">s</span> found for "<span th:text="${searchTerm}"></span>" in "<span th:text="${searchField}"></span>"
    </div>

    <div th:if="${searchTerm} == '' or ${searchTerm} == 'all'">All results</div>
</div>
    <hr/>
<div class="container p-4 w-150">
    <p class="text-justify text-center">
        You have arrived, my friend. We at fizzybubbly would like to present your selected seltzer(s) here.
        Take a look around and find out more about your selection. Thanks for visiting fizzybubbly.
        Y'all come back now, y'hear!
    </p>
</div>
    <table class="table table-hover">

        <thead>

        <tr>
            <td scope="col"></td>
            <th scope="col">Drink</th>
            <th scope="col">Carbonation</th>
            <th scope="col">Rating</th>
        </tr>
        </thead>
        <tbody>

            <tr th:each="drink : ${drinks}">
                <td><img class="soda-img" th:src="@{${drink.imagePath}}"></td>
                <td>
                    <a th:href="@{/drink/{id} (id=${drink.id})}"
                       th:text="${drink.brand + ' ' + drink.flavor}">
                    </a>
                </td>
                <td th:text="${drink.carbonation}"></td>
                <td th:text="${drink.rating + '/5'}"></td>
            </tr>
        </tbody>
    </table>

</div>

</body>
</html>