<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: page-header"></div>

<div th:replace="fragments :: page-title"></div>

<div class="container p-4 w-50">

    <p class="text-justify text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cumque debitis dolor eum
        fugit hic illo maxime nesciunt, numquam repellat reprehenderit voluptates. Ab alias beatae consequuntur culpa
        deserunt fugiat, fugit maxime modi molestiae officiis placeat porro rem repellendus, soluta tempore velit, vero?
        At
        dolorem ducimus earum eum nostrum quibusdam quisquam rem, repudiandae similique sint! Aspernatur assumenda, aut
        autem consectetur debitis ea error, ipsa itaque perspiciatis provident, quisquam tenetur voluptate. Accusantium
        aspernatur enim excepturi illum mollitia non quod saepe sunt. Accusamus aliquid culpa debitis, delectus ea fuga
        numquam perspiciatis quasi quibusdam sequi sit temporibus vel veritatis vitae voluptatibus! Enim nisi, officia!
    </p>

</div>

</body>
</html>